.local-honey {
  &.select {
    margin: 2px 0 0 0;
    height: 37px;

    .btn-mini  {
      img {
        width: 18px;
        height: 12px;
      }
    }

    .dropdown-menu {
      margin: -7px 0 0 0;
    }
  }

  &.list {
    list-style-type: none;
    float: right;

    li {
      display: inline;
      margin-left: 5px;
    }
  }
}